.form {

padding: 10px ;
border: 3px solid orange  ;

width: 25%;
border-style: center;
background-color: lightgrey;
display: flex;
flex-direction: column;
justify-content: center;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
}
#email_error,
#pass_error {
   margin-bottom: 10px;
 padding: 5px;
  background: rgba(255, 0, 0, 0.1);
    color: red;
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #ef9a9a;
    display: none;
}

.body {
background-color:grey ;
    margin: 0;
    padding: 0;
 
}

.registerbtn{
background-color: orange;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;

opacity: 0.9;
}
.account {
    padding: 16px 20px;
  margin: 8px 0;
 

}

.p1 {
    text-align: right;
}

.loginbtn {
    background-color: orange;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
}

.account{
    justify-content: center;
    position: relative;
}

.kindleImg {
    width: 50%;
    height: 50%;
}